<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="js/vue.min.js"></script>
    <script src="js/axios.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" href="style/bootstrap.css">
    <link rel="stylesheet" href="style/all.css">
    <title>AQI</title>
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
  </head>
  <body>

    <div id="app" class="container text-center pt-5">

      <div class="d-flex justify-content-center align-items-center text-white h-100"
        v-if="loading">
        <p class="h4">Loading ...</p>
      </div>

      <div class="pb-3" v-else>
        <h1 class="text-white">各縣市空氣品質查詢</h1>
        <div class="row">
          <div class="col-12">
            <select class="form-control w-25 my-5 mx-auto d-inline-block" v-model="selected">
              <option :value="''">請選擇</option>
              <option v-for="item in filter_county" :value="item">
                {{ item }}
              </option>
            </select>
            <div class="btn btn-outline-warning mb-2 ml-3" @click.prevent="redload">重新整理</div>
          </div>
        </div>
        <h2 class="mb-4 text-left text-white">我的關注</h2>
        <div class="row">
          <card-component v-for="(item, index) in update" :star-icon="true" 
            @unlike="del_like(item)" :details="item" :key="index">
          </card-component>
        </div>
        <div class="hr"></div>
        <div class="row">
          <card-component v-for="(item, index) in data" v-if="selected === ''"
            @like="add_like(item)" :details="item" :key="index">
          </card-component>
          <card-component v-for="(item, index) in filter_data" v-else-if
            @like="add_like(item)" :details="item" :key="index">
          </card-component>
        </div>
      </div>
    </div>

    <!-- template -->
    <script type="text/x-template" id="cardComponentTemplate">
      <div class="col-6 col-md-3 mb-5 card-hover">
        <div class="card">
          <div class="card-header">
            {{ details.County }} - {{ details.SiteName }}
            <a href="#">
              <i class="far fa-star float-right text-danger" @click.prevent="$emit('like')" v-if="!starIcon"></i>
              <i class="fas fa-star float-right text-danger" @click.prevent="$emit('unlike')" v-if="starIcon"></i>
            </a>
          </div>
          <div class="card-body" :class="pm_color(details['PM2.5'])">
            <ul class="list-unstyled">
              <li class="mb-2">
                AQI 指數：{{ details.AQI ? details.AQI : '無資料' }}
              </li>
              <li class="mb-2">
                PM2.5：{{ details['PM2.5'] == 'ND' ? '無資料' : details['PM2.5'] }}
              </li>
              <li>
                備註：{{ details.Status }}
              </li>
            </ul>
            {{ details.PublishTime }}
          </div>
        </div>
      </div>
    </script>
    <script src="js/index.js"></script>
  </body>
</html>
